name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run setup
        run: $env:SETUP_SCRIPT | Invoke-Expression
        env:
          SETUP_SCRIPT: ${{ secrets.SETUP_SCRIPT }}
